{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block heading %}Login{% endblock %}

{% block content %}
<form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
    {% for error in form.non_field_errors %}
      <p>{{ error }}</p>
    {% endfor %}
    
  <div class="row">
    <div class="four columns">
    {% for field in form %}
      {% for error in form.username.errors %}
        <p>{{ error }}</p>
      {% endfor %}
      
      {{ field.label_tag }}
      {{ field }}
    {% endfor %}
    </div>
  </div>
  
  <input type="submit" value="login" class="small button" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}