{% extends 'base.html' %}
{% load gravatar %}
{% load markup %}
{% load blog_extras %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<article>
  {% spaceless %}
  <h2><a href="/{{ post.url }}/">{{ post.title }}</a> 
    {% if user.is_authenticated %}
      <a href="/{{ post.url }}/edit/" class="admin-action">Edit</a>
      <a href="/{{ post.url }}/delete/" class="admin-action">Delete</a>
    {% endif %}
  </h2>
  {% endspaceless %}
  <div class="meta h2">
    <div class="who-when">
      <span class="gravatar">{% gravatar_img_for_email post.created_by.email 32 post.created_by.username %}</span>
      <span class="author vcard fn">{{ post.created_by.username|capfirst }}</span>
      <span class="published" title="{{ post.pub_date|date:"c" }}">{{ post.pub_date|date:"F d, Y" }}</span>
    </div>
  </div>
  
  {% autoescape off %}
    {{ post.content|markdown|removetags:"img h1 h2 link"|stripjs|safe }}
  {% endautoescape %}
</article>
{% endblock %}