{% extends "base.html" %}

{% block title %}Edit {{ post.title }}{% endblock %}

{% block extra-head %}
<link rel="stylesheet" href="http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/skin.css">
{% endblock %}

{% block content %}
<form action="" method="post" accept-charset="utf-8" class="yui-skin-sam">{% csrf_token %}
  {{ form.as_p }}

  <p><input type="submit" value="Upate Post" class="small button" /></p>
</form>
{% endblock %}

{% block sidebar %}
<h3>Edit a post</h3>
<p>Update the details of your a post here.</p>
<p>When editing content a single newline becomes a line break and a new line followed by a blank line becomes a paragraph break</p>
<p>Some HTML is allowed.</p>
<p>Hit <strong>Edit Post</strong> when you're all done.</p>
{% endblock %}