// Compass imports
@import "compass/css3"; 
@import "compass/utilities";

// Variables
$mainColor: #b14C59;
$shaded: #f4f4f4;

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Header
::   Navigation
::   User Options
:: Content
::   Sidebar
:: Footer
:: Helpers
:: Overrides
:: Mobile
::   Shared Styles
::   Header
::   Content
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Bitter);

html {
  background: url("../images/ngc-346.jpg") repeat-x scroll 0 0 #000;
  @include background-size(100% 800px);
}

body {
  background-color: transparent;
  color: #333;
  font:  {
    family: 'Bitter', Georgia, "Times New Roman", Times, serif;
    size: 0.75em; /* 16 * 0.75 = 12 */
  }
  position: static;
}
  
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: #555;
  margin-bottom: 24px;
  font-weight: bold;
}

h1, .h1 {
  font-size: 1.5em; /* 24px --> 24 ÷ 16 = 1.5 */
  line-height: 1em; /* 24px --> 24 ÷ 24 = 1 */
  margin: 14px 0 0;
}
h2, .h2 {
  font-size: 1.375em; /* 22px --> 22 ÷ 16 = 1.375 */
  line-height: 1.0909em; /* 24px --> 24 ÷ 22 = 1.090909(09) */
  
  &.underline {
    @extend .underline;
    padding-bottom: 14px;
  }
  &.underline-light {
    @extend .underline;
    border-bottom: 1px solid $shaded;
  }
}
h3, .h3 {
  font-size: 1.25em; /* 20px --> 20 ÷ 16 = 1.25 */
  line-height: 1.2em; /* 24px --> 24 ÷ 20 = 1.2 */
}
h4, .h4 {
  //color: #7f7f7f;
  font-size: 1.125em; /* 18px --> 18 ÷ 16 = 1.125 */
  font-style: italic;
  line-height: 1.333em; /* 24px --> 24 ÷ 18 = 1.3333333(3) */
}
h5, .h5,
h6, .h6 {
  font-size: 1em; /* 16px --> 16 ÷ 16 = 1 */
  line-height: 1.5em; /* 24px --> 24 ÷ 16 = 1.5 */
}

a {

  &[href^="http"]:after {
    content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
  }
}


p {
  font-size: inherit;
}

ul {
  
  li {
    list-style-position: outside;
    margin: 0 0 0 14px;
  }
}



/* -----------------------------------------
  Header
----------------------------------------- */

.header {
  //background-color: $shaded;
  padding: 10px 20px;
  z-index: 1;
  
  h1 {
    font-size: 2.5em;
    margin: 10px 0;
    
    a {
        color: #fff;
    }
  }
  
  img {
    width: 150px;
  }
  
  .user-login {
    text-align: right;
  }


  /* -----------------------------------------
    Navigation
  ----------------------------------------- */
  
  .navigation {
  
    ul {
      background-color: transparent;
      margin: 0;
      
      li {
        border: none;
        margin: 10;
        
        &:last-child {
          border: none;
        }
        
        a {
            color: #333;
          
          &:hover {
            background-color: #ccc;
          }
        }
      }
    }
  }
  
  
  /* -----------------------------------------
    User Options
  ----------------------------------------- */
  
  .user-options {
    
    ul {
      list-style-type: none;
      margin-top: 10px;
    
      li {
        color: #fff;
        float: right;
        
        a {
          color: #fff;
        }
      }
    }
  }
}



/* -----------------------------------------
  Content
----------------------------------------- */

.content {
  @include border-radius(4px);
  background-color: #fff;
  padding: 30px 20px;
  
  article {
    
    
    &:hover a.edit-post {
      display: inline-block;
    }
      
    h2 {
      margin: 0 0 5px;
      
      a {
      
        &:hover {
          text-decoration: underline;
        }
        
        &.edit-post {
          display: none;
          float: right;
          font-size: 0.6em;
        }
      }
    }
  }
  
  .post-list {
  
    article {
      margin-bottom: 50px;
    }
  }
  
  .meta {
    margin-bottom: 24px;
    
    .who-when {
      padding-left: 40px;
      position: relative;
      
      .gravatar {
        position: absolute;
          top: 5px;
          left: 0;
      }
      
      .author {
        color: #666;
      }
      
      .published {
        color: #bbb;
      }
    }
  }
  
    
  /* -----------------------------------------
    Sidebar
  ----------------------------------------- */
  
  .sidebar {
    @include border-radius(4px);
    background-color: #f4f4f4;
    
    h3 {
      border-bottom: 1px solid #ddd;
      margin-bottom: 12px;
      padding-bottom: 12px;
    }
    
    .latest-post-list {
      list-style-type: none;
        
      li {
        margin: 0;
        
        h4 {
          font-style: normal;
          margin: 24px 0 6px;
        }
      }
    }
  }
}



/* -----------------------------------------
  Footer
----------------------------------------- */

.footer {
  color: #fff;
  padding: 20px;
  
  ul {
    list-style-type: none;
  }
  
  h4 {
    border-bottom: 1px solid #ccc;
    color: #fff;
    font-size: 2rem;
    margin: 0 0 20px;
    padding: 0 0 10px;
  }
  
  a {
    color: #ccc;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
}



/* -----------------------------------------
   Overrides 
----------------------------------------- */

textarea {
  font-family: inherit;
}



/* -----------------------------------------
   Helpers
----------------------------------------- */

.underline {
  border-bottom: 1px solid #ccc;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.image-right img {
  float: right;
}

.margin-top-15 {
  margin-top: 15px;
}

.padding-top-20 {
  padding-top: 20px;
}

input.short {
  width: 50%;
}



/* -----------------------------------------
   Mobile
----------------------------------------- */

@media handheld, only screen and (max-width: 767px) {

  /* -----------------------------------------
     Shared Styles
  ----------------------------------------- */
  
  html {
    background-color: #fff;
    background-image: none;
  }
  
  h3, .h3 {
    
    &:before { 
      margin-top: -30px; 
      height: 30px;
    }
  }
  
  
  
  /* -----------------------------------------
    Header
  ----------------------------------------- */
  
  .header {
    background-color: $mainColor;
    padding: 0;
    position: relative;
    
    .user-login {
      text-align: left;
    }
    
    
    /* -----------------------------------------
      User Options
    ----------------------------------------- */
    
    .user-options {
      float: right;
      
      ul {
      
        li {
          float: left;
          margin: 0 25px 20px 0;
          
          a {
          
          }
        }
      }
    }
  }
  
  
  
  /* -----------------------------------------
    Content
  ----------------------------------------- */
  
  .content {
    @include border-radius(0);
    padding: 20px 0;
      
    figure {
      margin: 0;
    }
    
    code {
      overflow: auto;
    }
    
  }
  
  
  
  /* -----------------------------------------
    Footer
  ----------------------------------------- */
  
  .footer {
    background-color: #fff;
    color: #333;
    padding: 0 0 12px;
  }
  
  
  
  /* -----------------------------------------
     Helpers
  ----------------------------------------- */
  
  input.short {
    width: 100%;
  }

}