<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{% firstof LANGUAGE_CODE 'en' %}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{% firstof LANGUAGE_CODE 'en' %}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{% firstof LANGUAGE_CODE 'en' %}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{% firstof LANGUAGE_CODE 'en' %}"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{% block title %}{% endblock %} - Basic Blog</title>
  
  <!-- Included CSS Files -->
  <link rel="stylesheet" href="/media/stylesheets/foundation.css">
  <link rel="stylesheet" href="/media/stylesheets/app.css">
  {% block css %}{% endblock %}

  <!--[if lt IE 9]>
  <link rel="stylesheet" href="/media/stylesheets/ie.css">
  <![endif]-->
  
  <script src="/media/javascripts/foundation/modernizr.foundation.js"></script>
  
  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {% block preload_js %}{% endblock %}
  
  {% block extra-head %}{% endblock %}
</head>

<body>
  <header class="row header">
    <div class="three columns">
      <h1><a href="/">Basic Blog</a></h1>
    </div>
    
    <div class="six columns navigation">
    </div>
    
    <div class="three columns user-options">
      <ul>
        {% if user.is_authenticated %}
        <li><a href="/logout/">Log out</a></li>
        <li><a href="/new/">New Post</a></li>
        <li>{{ user.username|capfirst }}</li>
        {% else %}
        <li><a href="/login/">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </header>
     
  <div class="row content">
    <div class="nine columns">
    
      {% block content-header %}
      {% endblock %}
      
      {% if error %}<div class="error">{{ error }}</div>{% endif %}
      {% if info %}<div class="info">{{ info }}</div>{% endif %}
      {% if messages %}
        {% for message in messages %}
          <div class="info">{{ message }}</div>
        {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>
    
    <div class="three columns sidebar hide-for-small">
      {% block sidebar %}
        {% load blog_extras %}
        {% latest_posts 5 %}
      {% endblock %}
    </div>
  </div>
  
  <footer class="row footer">
    <div class="twelve columns">
      
      <p>&copy; {% now "Y" %} Damian Mullins</p>
      
    </div>
  </footer>
  
  <!-- Included JS Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/media/javascripts/app.js"></script>
  
  <!-- Excluded JS Files
  <script src="javascripts/foundation/jquery.reveal.js"></script>
  <script src="javascripts/foundation/jquery.orbit-1.4.0.js"></script>
  <script src="javascripts/foundation/jquery.customforms.js"></script>
  <script src="javascripts/foundation/jquery.placeholder.min.js"></script>
  <script src="javascripts/foundation/jquery.tooltips.js"></script>
   -->

  {% block js %}{% endblock %}
</body>
</html>